data_processing/.DS_Store
data_processing/__pycache__/
.env
*__pycache__
*.ipynb
data_processing/local_data/*.txt
data_processing/local_data/*.csv
data_processing/local_data/.DS_Store
docs/.DS_Store
outputs/
data/
*.DS_Store
*.html
