Run_Name: MY_RUN_NAME
data_dir: **PATH TO DATA Directory** 
raw_data: **PATH TO MY RAW DATA**
clean_data: **set by cleaner**
data_imputation:
  method: random_sampling
  num_samplings: 3
selection:
  method: min_edges
projected_data: **set by projector**
cleaning_scalar: standard_scaler
cleaning_encoding: one_hot
cleaning_remove_columns:
- None
projector: UMAP
projector_dimension: 2
projector_Nneighbors:
- 5
projector_minDists:
- 0.1
- 0.3
projector_random_seed: 42
jmap_min_cluster_size:
- 6
- 2
jmap_max_cluster_size: 0
jmap_nCubes:
- 5
jmap_percOverlap:
- 0.5
jmap_minIntersection:
- -1
jmap_random_seed: 42
coverage_filter: 0.9
run_measure_target_column: ** set to numeric raw data column **
dendrogram_metric: landscape
dendrogram_cut: 0.2
dendrogram_levels: 10
