runName: Sample
data: <Path to your data file>
outDir: <Path to your out data directory> 
Planet:
  scaler: standard
  encoding: one_hot
  dropColumns: 
    - ID
  imputeColumns: auto
  imputeMethods: auto 
  numSamples: 10
  seeds: auto 
Oort:
  tsne: 
    perplexity: 
      - 2 
    dimensions:
      - 2
    seed:
      - 32
  pca: 
    dimensions:
      - 2
    seed:
      - 32
  projectiles:
    - tsne
    - pca 
Galaxy:
  filter: component_count_range
  filter_params:
    min_components: 7
    max_components: 10
  metric: stellar_curvature_distance
  selector: max_nodes
  nReps: 4
  cosmic_graph:
    enabled: true
    neighborhood: cc
    threshold: 0.0
  stars:
    - jmap 
  jmap:
    nCubes:
      - 5
    percOverlap:
      - 0.5
    minIntersection:
      - -1
    clusterer:
      - [HDBSCAN, {min_cluster_size: 5}] 
      - [HDBSCAN, {min_cluster_size: 7}]